﻿body {
}
        table {
            width: 60%;
            margin: auto;
        }

        .img-Circle {
            border: 2px;
            border-color: gray;
            border-style: dashed;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            float:right;
        }